{% extends 'temp/home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>login</title>
</head>
<body>
	<center>
		<h1>Login</h1>
		<form method="post">
            {% csrf_token %}
			<table>
				<tr>
					<td>Username</td>
					<td><input type="text" name="uname" required></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="Password" name="pswrd" required></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Login">
				</tr>
			</table>
		</form>
	</center>


</body>
</html>

{% endblock %}